
<footer class="footer mt-auto py-3 text-center">
  <div class="container">
  	<div class="footer">
	   <span class="font-italic">© 2019 La Capsule</span>
	</div>
  </div>
</footer>



<!-- <footer class="footer mt-auto py-3">
	<p class="text-center font-italic"></p>
</footer> -->

