<nav class="navbar fixed-top navbar-light bg-light font-weight-bold">
    <a href="/"><img src="/images/train.png" width="40px" class="d-inline-block train">Ticketac</a>

    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
</nav> 

<<<<<<< HEAD
        <li class="nav-item">
          <a class="connection" href="/login">Connection</a>
        </li>   
              
        <li class="nav-item">
            <a class="trips" href="/mytrips">My last trips</a>
        </li>
=======
>>>>>>> 905e1ba1400fa79979db019ea8eddb5fa22abdce

