<nav class="navbar fixed-top navbar-light bg-light font-weight-bold">
    <a><img src="/images/train.png" width="40px" class="d-inline-block train">Ticketac</a>
    
        <a class="connection" href="/users/logout">Connection</a>
        <a class="trips" href="/users/logout">My last trip</a>
    
</nav> 