<nav class="navbar fixed-top navbar-light bg-light font-weight-bold">
    <a href="/"><img src="/images/train.png" width="40px" class="d-inline-block train">Ticketac</a>

    <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="connection" href="/login">Connection</a>
    </li>   
          
    <li class="nav-item">
        <a class="trips" href="/mytrips">My last trips</a>
    </li>
    </ul>
</nav> 

