<!DOCTYPE html>
<html>

  <%- include('head'); %>

  <body>
    
     <!-- Header et navigation -->
     <%- include('header'); %>

	  <div class="container">
		   <div class="row">

		       <div class="card text-center bg-transparent border-0 accueil" style="width: 50rem;">
		           <div class="card-body ">
		             <h3 class="card-title text-light accueil-titre">Bienvenue sur Ticketac !</h3>
		             <p class="card-text text-light accueil-sous-titre">Quel endroit allez-vous découvrir aujourd'hui ?</p>
		             <a href="/login"><button class="btn btn-danger" type="submit" id="button-addon2">Let's go !</button></a>
		           </div>
		         </div>
		   </div>
	  <img src="./images/accueil.png" class="accueil-image" alt="image train">
	  </div>

  	  <%- include('footer'); %>      

  </body>


</html>
