html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}




body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+29,2989d8+78,207cca+97,207cca+98,207cca+99,207cca+99,207cca+99,207cca+100,207cca+100,207cca+100,207cca+100,207cca+100,1e5799+100 */
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 29%, #2989d8 78%, #207cca 97%, #207cca 98%, #207cca 99%, #207cca 99%, #207cca 99%, #207cca 100%, #207cca 100%, #207cca 100%, #207cca 100%, #207cca 100%, #1e5799 100%) fixed; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7db9e8 29%,#2989d8 78%,#207cca 97%,#207cca 98%,#207cca 99%,#207cca 99%,#207cca 99%,#207cca 100%,#207cca 100%,#207cca 100%,#207cca 100%,#207cca 100%,#1e5799 100%) fixed; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7db9e8 29%,#2989d8 78%,#207cca 97%,#207cca 98%,#207cca 99%,#207cca 99%,#207cca 99%,#207cca 100%,#207cca 100%,#207cca 100%,#207cca 100%,#207cca 100%,#1e5799 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

h1 {
  font-size: 25px !important;
}

a {
  color: black !important;
}

a:hover {
  color: red !important;
  font-weight: bold;
}

a:link {
  text-decoration: none !important;
}

.train {
  margin-right: 15px;
}
.connection {
  margin-right: 15px;
}

.titleForm {
	color: #fff;
	margin-top: 8rem;
	
}

.bold {
	font-weight: bold;
}
.list-group-item {
	margin: 10px 0;
	padding: 20px !important;
}

.btn-danger {
	color: white !important;
}

.btn {
	border-radius: 5px !important;
}


